<%- include("partials/head") %> <%- include("partials/nav-bar.ejs") %>
<h1>The Home Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum pariatur odit
  minus saepe. Vel explicabo nostrum commodi dicta cum quod error, quidem veniam
  numquam in cumque officia voluptates autem amet! Lorem ipsum dolor sit amet,
  consectetur adipisicing elit. Sapiente consequatur in perspiciatis aperiam
  quisquam unde, similique praesentium odit possimus sed quasi amet corrupti,
  dicta error quod id neque quidem consequuntur. Id debitis sint veritatis sed
  reiciendis aperiam iusto, sapiente, facilis iste recusandae, magnam et
  provident quam accusamus architecto. Labore perspiciatis minus odit laudantium
  iure, reprehenderit sed. Eaque ut architecto veniam? Temporibus soluta nobis,
  suscipit quod illo nihil inventore fuga pariatur repellat perferendis.
  Ducimus, accusamus illo a molestiae optio labore soluta enim numquam
  consequuntur? Ipsam quam eligendi voluptate necessitatibus cumque nisi? Atque,
  pariatur amet. Sint exercitationem rerum quisquam saepe quia quam, quos nihil
  aperiam consequatur laborum corporis eius quo iste. Odit molestiae, in amet
  quibusdam autem quia quis officia similique nobis? Necessitatibus eligendi
  nihil aperiam. Pariatur at ducimus nulla deleniti voluptate quos reprehenderit
  impedit tenetur sed. Ullam officia accusamus laborum, repudiandae dolor, in
  officiis sit delectus ipsa commodi esse vero ducimus. Inventore ut illo,
  placeat obcaecati totam quod exercitationem quaerat esse quas pariatur natus
  doloremque assumenda porro corporis dolores sit. Odit ad earum velit
  voluptatum! Nostrum asperiores aut ut inventore sed?
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto aut qui,
  fugiat ullam et iusto deleniti repellat ea tempora ratione in consequuntur
  veritatis eius non quisquam voluptatibus explicabo ad quia.
</p>
<%- include("partials/footer.ejs") %>
